<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263286614360-skrv16maf1818lgosnak1lbcp3u3r31a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263286614360-skrv16maf1818lgosnak1lbcp3u3r31a</string>
	<key>API_KEY</key>
	<string>AIzaSyCgMRM9qBwTa8iz-Up3Hl9-yXiMF9VNnGc</string>
	<key>GCM_SENDER_ID</key>
	<string>263286614360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lmsAppTugbes</string>
	<key>PROJECT_ID</key>
	<string>fir-lms-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-lms-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263286614360:ios:afbaa88b2a0db445525d2d</string>
</dict>
</plist>